@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
    *
    {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-seriff;
    }
    .body{
      display: flex;
      font-family: Arial, sans-serif;
    }
    body{
        background: #161623;
    }
    .container{
        background-color: aqua;
        height: 100px;
    }

    li{
        display:inline-block;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
        margin:2px;
        text-align: center;
        font-size: large;

        
    }

    .development{
        margin-left: 40%;
        margin-top: 10%;
        height: 210px;
        width: 237px;
        align-items: center;
        background-image: url("/static/Profile.jpg");
    }
    
    li:hover{
        background-color: aquamarine;
    }