<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/Home.css">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">QuestionHub</h1>
                <ul>
                    <li ><a href="/Home"><b>Home</b></a></li>
                    <li ><a href="Profile.html"><b>Profile</b></a></li>
                    <li ><a href="MyQuestions.html"><b>My Questions</b></a></li>
                    <li ><a href="Questions.html"><b>Ask a question</b></a></li>
                </ul>
        
    </div>
    {% if username %}
    <h3 style="text-align: right;color:rgb(222, 30, 184); padding-right: 10px;">hi, {{ username }}</h3>
    {% endif %}
    <div class="container1">
    {% for i in values %}
        <div class="question">
            <div class="content">
            <p>{{ i[1] }}</p>
            <a href="{{ url_for('answer', value=i[0]) }}">Write answer</a>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>