<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/static/Profile.css">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center;">QuestionHub</h1>
                <ul>
                    <li ><a href="/Home"><b>Home</b></a></li>
                    <li ><a href="Profile.html"><b>Profile</b></a></li>
                    <li ><a href="MyQuestions.html"><b>My Questions</b></a></li>
                    <li ><a href="Questions.html"><b>Ask a question</b></a></li>
                </ul>
        
    </div>
    <div class="development">
    </div>
</body>
</html>
